body{
    background-color: white;
}

body::after{
    content: "";
    position: absolute;
    background: #f0f0f5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}

#page-search-results{
    width: 90%;                                                 /* largura normal 90px*/
    max-width: 1100px;                                          /* largura maxima mesmo se passar de 1100px*/
    margin: 0 auto;                                             /* alinhamento de caixa (pelo lado de fora da caixa) - em cima e em baixo seja 0 e laterais automaticas */
}

#page-search-results header{
    margin-top: 48px;                                           /* espaço margem de cima - para nao colar no topo do navegador */
    display: flex;
    justify-content: space-between;                             /* coloca espaços entre elementos */
    align-items: center;                                        /* posicionar elementos ao centro */
}

#page-search-results header a{
    color: var(--title-color);                                  /* variavel no CSS */
    font-weight: bold;                                          /* peso na fonte - negrito */
    display: flex;                                              /* alinha um ao lado do outro */  
    align-items: center;                                        /* alinha elementos ao centro */
}

#page-search-results header a span{
    margin-right: 16px;                                         /* espaço do proximo elemento */
    background-image: url('../assets/arrow-left.svg');
    display: flex;                                              /* span precisa ser do tipo display: flex ara aparecer */
    width: 24px;                                                /* span precisa ter width para aparecer */
    height: 24px;                                               /* span precisa ter height para aparecer */
}

main{
    margin: 48px;
    

}

main h4{
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

main .card h1{
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: #322153;
}


main .card h3{
    margin: 24px 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: var(--primary-color);
}

main .card p{
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
}

